<h1 class="mb-5">Съдържание на папка <%= @folder.name %></h1>

<% if @folder.user == current_user %>
  <%= link_to new_folder_media_file_path(@folder), class: 'btn btn-primary mb-3' do %>
    <i class="fa-regular fa-file"></i> Качете файл
  <% end %>
<% end %>

<div class="row">
  <% if @media_files.count > 0 %>
    <% @media_files.each do |media_file| %>
      <% file_extension = File.extname(media_file.file).downcase %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <div class="card-body text-center">
            <% if ['.jpg', '.jpeg', '.png', '.gif'].include?(file_extension) %>
              <!-- Показване на изображение -->
              <a href="<%= serve_media_file_path(file_path: "#{@user_folder_path}/#{media_file.file}") %>">
                <%= image_tag(serve_media_file_path(file_path: "#{@user_folder_path}/#{media_file.file}"), alt: media_file.file, class: 'img-fluid mb-2') %>
              </a>
              <!-- EXIF Information -->
              <% exif_info = @exif_data[media_file.id] %>
              <% if exif_info && exif_info[:date_time_original] %>
                <div class="exif-info text-start">
                  <p>Дата на заснемане: <%= exif_info[:date_time_original] %></p>
                  <p>Бленда: <%= exif_info[:f_number] %></p>
                  <p>ISO: <%= exif_info[:iso_speed_ratings] %></p>
                  <p>Време на експозиция: <%= exif_info[:exposure_time] %></p>
                </div>
              <% else %>
                <div class="exif-info text-start">
                  <p>Няма налична EXIF информация</p>
                </div>
              <% end %>
            <% elsif ['.mp4', '.webm', '.ogg', '.mov'].include?(file_extension) %>
              <!-- Показване на икона за видео -->
              <div class="d-flex flex-column align-items-center mb-2">
                <i class="fas fa-video fa-4x"></i>
                <!-- Бутон за гледане на видео -->
                <a href="<%= watch_folder_media_file_path(@folder, media_file) %>" target="_blank" class="btn btn-primary mt-2">
                  <i class="fas fa-play"></i> Гледай
                </a>
              </div>
              <!-- Бутон за изтегляне -->
              <a href="<%= serve_media_file_path(file_path: "#{@user_folder_path}/#{media_file.file}") %>" download class="btn btn-secondary mt-2">
                <i class="fas fa-download"></i> Свали
              </a>
            <% else %>
              <!-- Показване на икона с Font Awesome за неизвестен тип файл -->
              <a href="<%= serve_media_file_path(file_path: "#{@user_folder_path}/#{media_file.file}") %>">
                <i class="fas fa-file fa-4x mb-2"></i>
              </a>
            <% end %>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted"><%= media_file.file %></small>
            <% if media_file.folder.user == current_user %>
              <div class="mt-2">
                <%= link_to edit_folder_media_file_path(@folder, media_file), class: 'btn btn-warning btn-sm' do %>
                  <i class="fas fa-edit"></i> Преименувай
                <% end %>
                <%= link_to folder_media_file_path(@folder, media_file), method: :delete, data: { confirm: 'Сигурни ли сте?' }, class: 'btn btn-danger btn-sm' do %>
                  <i class="fas fa-trash-alt"></i> Изтрий
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= will_paginate @media_files, renderer: BootstrapPagination::Rails %>
    </div>
  <% else %>
    <p>Все още няма файлове в тази директория</p>
  <% end %>
</div>
