<h1 class="mb-4 text-center"><%= @folder.name %></h1>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 gap-3">
  <div class="d-flex gap-2">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#galleryModal">
      <i class="fas fa-images"></i> Галерия
    </button>
    <% if @folder.user == current_user %>
      <%= link_to new_folder_media_file_path(@folder), class: 'btn btn-primary' do %>
        <i class="fa-regular fa-file"></i> Качете файл
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-end gap-2">
    <%= render 'shared/media_filter' %>
  </div>
</div>

<div class="row">
  <!-- Display subfolders as links -->
  <% if @subfolders.present? %>
    <% @subfolders.each do |subfolder| %>
      <div class="col-12 mb-4">
        <%= link_to folder_media_files_path(subfolder), class: 'btn btn-outline-primary' do %>
          <i class="fas fa-folder"></i> <%= subfolder.name %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <!-- Display media files in the current folder -->
  <% if @media_files.count > 0 %>
    <% @media_files.each do |media_file| %>
      <% file_extension = File.extname(media_file.file).downcase %>
      <% file_path = File.join(@user_folder_path, media_file.file) %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body text-center">
            <% if File.exist?(file_path) %>
              <% if %w[.jpg .jpeg .png .gif].include?(file_extension) %>
                <!-- Display Image -->
                <a href="<%= serve_media_file_path(file_path: file_path) %>">
                  <%= image_tag(serve_media_file_path(file_path: file_path), alt: media_file.file, class: 'img-fluid mb-2') %>
                </a>
                <!-- Download Button -->
                <a href="<%= serve_media_file_path(file_path: file_path) %>" download class="btn btn-secondary mt-2 mb-4">
                  <i class="fas fa-download"></i> Свали изображение
                </a>
                <!-- EXIF Information -->
                <% exif_info = @exif_data[media_file.id] %>
                <% if exif_info && exif_info[:date_time_original] %>
                  <div class="exif-info text-start">
                    <p>Дата на заснемане: <%= exif_info[:date_time_original] %></p>
                    <p>Бленда: <%= exif_info[:f_number] %></p>
                    <p>ISO: <%= exif_info[:iso_speed_ratings] %></p>
                    <p>Време на експозиция: <%= exif_info[:exposure_time] %></p>
                  </div>
                <% else %>
                  <div class="exif-info text-start">
                    <p>Няма налична EXIF информация</p>
                  </div>
                <% end %>
              <% elsif %w[.mp4 .webm .ogg .mov].include?(file_extension) %>
                <!-- Display Video Icon -->
                <div class="d-flex flex-column align-items-center mb-2">
                  <i class="fas fa-video fa-4x"></i>
                  <!-- Watch Video Button -->
                  <a href="<%= watch_folder_media_file_path(@folder, media_file) %>" target="_blank" class='btn btn-primary mt-2'>
                    <i class="fas fa-play"></i> Гледай
                  </a>
                  <!-- Download Button -->
                  <a href="<%= serve_media_file_path(file_path: file_path) %>" download class='btn btn-secondary mt-2'>
                    <i class="fas fa-download"></i> Свали
                  </a>
                </div>
              <% else %>
                <!-- Display Unsupported File Type Icon -->
                <div class="d-flex flex-column align-items-center mb-2">
                  <i class="fas fa-file fa-4x mb-2"></i>
                  <!-- Download Button -->
                  <a href="<%= serve_media_file_path(file_path: file_path) %>" download class='btn btn-secondary mt-2'>
                    <i class="fas fa-download"></i> Свали
                  </a>
                </div>
              <% end %>
            <% else %>
              <span class="text-danger"><%= media_file.file %> (Файлът не е наличен. Може би е изтрит или преместен на друго устройство.)</span>
            <% end %>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">
              <%= media_file.file %>
              <% if File.exist?(file_path) %>
                <% file_size = number_to_human_size(File.size(file_path)) %>
                (<%= file_size %>)
              <% else %>
                <small class="text-danger">Файлът не е наличен.</small>
              <% end %>
            </small>
            <% if media_file.folder.user == current_user %>
              <div class="mt-2">
                <% if File.exist?(file_path) %>
                  <%= link_to edit_folder_media_file_path(@folder, media_file), class: 'btn btn-warning btn-sm' do %>
                    <i class="fas fa-edit"></i> Преименувай
                  <% end %>
                <% end %>
                <%= link_to folder_media_file_path(@folder, media_file), method: :delete, data: { confirm: 'Сигурни ли сте?' }, class: 'btn btn-danger btn-sm' do %>
                  <i class="fas fa-trash-alt"></i> Изтрий
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= will_paginate @media_files, renderer: BootstrapPagination::Rails %>
    </div>
  <% else %>
    <div class="text-center">
      <p>Все още няма файлове в тази директория</p>
      <% if @folder.user == current_user %>
        <div class="d-inline-block mt-2">
          <%= link_to new_folder_media_file_path(@folder), class: 'btn btn-primary' do %>
            <i class="fa-solid fa-upload"></i> Качете файл
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/carousel", media_files: @media_files %>
