<h1>Files in <%= @folder.name %></h1>
<%= link_to 'Upload New File', new_folder_media_file_path(@folder), class: 'btn btn-primary' %>
<ul style="list-style-type: none; padding: 0;">
  <% @media_files.each do |media_file| %>
    <li style="display: inline-block; margin: 10px; text-align: center;">
      <a target="_blank" href="<%= serve_media_file_path(file_path: "#{@user_folder_path}/#{media_file.file}") %>">
        <%= image_tag(serve_media_file_path(file_path: "#{@user_folder_path}/#{media_file.file}"), alt: media_file.file, style: "max-width: 150px; max-height: 150px; display: block;") %>
        <%= media_file.file %>
      </a>
    </li>
  <% end %>
</ul>
