<div class="mb-4">
  <h3><i class="fa-solid fa-folder-plus"></i> Всички Папки</h3>
  <h6>Общ размер на всички папки: <%= @total_size %></h6>

  <ul class="list-group mt-5">
    <% if @folders.any? %>
      <% @folders.each do |folder| %>
        <li class="list-group-item">
          <%= link_to folder.name, folder_media_files_path(folder), class: 'text-decoration-none' %>
          <small class="text-muted">
            - качена на <%= folder.created_at.strftime("%d/%m/%Y") %> от
            <%= link_to user_profile_path(folder.user), class: 'text-decoration-none' do %>
              <%= folder.user.email %>
            <% end %>
          </small>
          <small class="text-primary">(<%= folder.media_files.count %> файла)</small>
          <% if @folder_sizes[folder.id] %>
            <small class="text-success"> - Размер: <%= number_to_human_size(@folder_sizes[folder.id]) %></small>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class="list-group-item">Няма качени папки.</li>
    <% end %>
  </ul>
</div>

<div class="text-center">
  <%= will_paginate @folders, renderer: BootstrapPagination::Rails %>
</div>
