<h1>Нова Папка</h1>
<%= form_with model: @folder, local: true do |form| %>
  <div class="mb-3 mt-5">
    <%= form.label "Име на папка", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <p>От тук може да изберете директория на папката. Ако оставите полето празно, папката ще бъде създадена в основната ви директория</p>
    <%= form.label :parent_id, "Избери директория, където да бъде създадена папката", class: 'form-label', id: 'create_new_folder' %>
    <%= form.collection_select :parent_id, current_user.folders, :id, :name, include_blank: true, class: 'form-control' %>

  </div>

  <%= form.submit 'Създай папка', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Назад', folders_path, class: 'btn btn-secondary mt-5' %>

