<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">MediaUploaderApp</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to folders_path, class: 'nav-link' do %>
            <i class="fa-solid fa-folder-plus"></i> Мое Съдържание
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link' do %>
            <i class="fa-solid fa-right-from-bracket"></i> Изход
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <i class="fa-solid fa-user-plus"></i> Регистрирай се
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link' do %>
            <i class="fa-solid fa-door-open"></i> Вход
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
