<% if current_user %>
  <h1 class="mb-5">Добре дошли в MediaUploaderApp</h1>

  <div class="disk-usage mb-4">
    <h3>Disk Usage</h3>
    <ul class="list-group">
      <li class="list-group-item">Total Space: <%= @disk_usage[:total] %></li>
      <li class="list-group-item">Used Space: <%= @disk_usage[:used] %> (<%= @disk_usage[:percent_used] %>%)</li>
      <li class="list-group-item">Free Space: <%= @disk_usage[:free] %> (<%= @disk_usage[:percent_free] %>%)</li>
    </ul>
  </div>

  <div class="mb-4">
    <h3>Последни качени папки</h3>
    <ul class="list-group">
      <% if @recent_folders.any? %>
        <% @recent_folders.each do |folder| %>
          <li class="list-group-item">
            <%= link_to folder.name, folder_media_files_path(folder), class: 'text-decoration-none' %>
            <small class="text-muted">
              - качена на <%= folder.created_at.strftime("%d/%m/%Y") %> от <%= folder.user.email %>
            </small>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">Няма качени папки.</li>
      <% end %>
    </ul>
  </div>

  <div>
    <h3>Последни качени файлове</h3>
    <ul class="list-group">
      <% if @recent_files.any? %>
        <% @recent_files.each do |media_file| %>
          <li class="list-group-item">
            <a href="<%= serve_media_file_path(file_path: "#{Rails.configuration.user_files_path}/#{media_file.folder.user.email}/#{media_file.folder.name}/#{media_file.file}") %>" target="_blank" class="text-decoration-none">
              <%= media_file.file %>
            </a>
            <small class="text-muted">
              - качен на <%= media_file.created_at.strftime("%d/%m/%Y") %> от <%= media_file.folder.user.email %>
            </small>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">Няма качени файлове.</li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>Добре дошли! За да видите каченото съдържание, моля <%= link_to 'влезте', new_user_session_path %> или <%= link_to 'регистрирайте се', new_user_registration_path %>.</p>
<% end %>
