<% if current_user %>
  <div class="container mt-4">
    <div class="text-center mb-5">
      <h1 class="display-4">Добре дошли в MediaUploaderApp</h1>
      <p class="lead">Вашият профил: <%= link_to current_user.email, user_profile_path(current_user), class: 'text-decoration-none' %></p>
    </div>

    <% if @disk_usage %>
      <div class="alert alert-info text-center mb-5">
        <h4>Място на външното устройство</h4>
        <p>Общо пространство: <strong><%= @disk_usage[:total] %></strong></p>
        <p>Използвано пространство: <strong><%= @disk_usage[:used] %></strong> (<%= @disk_usage[:percent_used] %>%)</p>
        <p>Свободно пространство: <strong><%= @disk_usage[:free] %></strong> (<%= @disk_usage[:percent_free] %>%)</p>
      </div>
    <% else %>
      <div class="alert alert-warning text-center mb-5">
        Външното устройство не е свързано. Моля, свържете го, за да видите информация за дисковото пространство.
        Също така няма да може да виждате файловете, които сте качили.
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h3 class="card-title">Последни качени папки</h3>
            <ul class="list-group list-group-flush">
              <% if @recent_folders.any? %>
                <% @recent_folders.each do |folder| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                      <%= link_to folder.name, folder_media_files_path(folder), class: 'text-decoration-none' %>
                      <small class="text-muted d-block">
                        качена на <%= folder.created_at.strftime("%d/%m/%Y") %> от <%= folder.user.email %>
                      </small>
                      <% if @folder_sizes[folder.id] %>
                        <small class="text-success">Размер: <%= number_to_human_size(@folder_sizes[folder.id]) %></small>
                      <% end %>
                    </div>
                    <span class="badge bg-primary rounded-pill"><%= folder.media_files.count %> файла</span>
                  </li>
                <% end %>
              <% else %>
                <li class="list-group-item text-center">Няма качени папки.</li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer text-center">
            <%= link_to list_folders_path, class: 'btn btn-primary' do %>
              <i class="fa-solid fa-folder-plus"></i> Всички Папки
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h3 class="card-title">Последни качени файлове</h3>
            <ul class="list-group list-group-flush">
              <% if @recent_files.any? %>
                <% @recent_files.each do |media_file| %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                      <% file_path = File.join(Rails.configuration.user_files_path, media_file.folder.user.email, media_file.folder.full_path, media_file.file) %>
                      <% if File.exist?(file_path) %>
                        <a href="<%= serve_media_file_path(file_path: file_path) %>" target="_blank" class="text-decoration-none">
                          <%= media_file.file %>
                        </a>
                        <% file_size = number_to_human_size(File.size(file_path)) %>
                        <small class="text-muted d-block">
                          <%= file_size %>, качен на <%= media_file.created_at.strftime("%d/%m/%Y") %> от <%= media_file.folder.user.email %>
                        </small>
                      <% else %>
                        <span class="text-danger"><%= media_file.file %> (Файлът не е наличен. Може би е изтрит или преместен на друго устройство.)</span>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              <% else %>
                <li class="list-group-item text-center">Няма качени файлове.</li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer text-center">
            <%= link_to list_files_path, class: 'btn btn-primary' do %>
              <i class="fa-regular fa-file"></i> Всички Файлове
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p class="text-center">Добре дошли! За да видите каченото съдържание, моля <%= link_to 'влезте', new_user_session_path %>
    или <%= link_to 'регистрирайте се', new_user_registration_path %>.</p>
<% end %>
