<% if current_user %>
  <h1 class="mb-5">Добре дошли в MediaUploaderApp</h1>

  <% if @disk_usage %>
    <div class="disk-usage mb-4">
      <h3>Място на външното устройство</h3>
      <ul class="list-group">
        <li class="list-group-item">Общо пространство: <%= @disk_usage[:total] %></li>
        <li class="list-group-item">Използвано пространство: <%= @disk_usage[:used] %> (<%= @disk_usage[:percent_used] %>%)</li>
        <li class="list-group-item">Свободно пространство: <%= @disk_usage[:free] %> (<%= @disk_usage[:percent_free] %>%)</li>
      </ul>
    </div>
  <% else %>
    <div class="alert alert-warning">
      Външното устройство не е свързано. Моля, свържете го, за да видите информация за дисковото пространство.
      Също така няма да може да виждате файловете, които се качили
    </div>
  <% end %>

  <div class="mb-4">
    <h3>Последни качени папки</h3>
    <ul class="list-group">
      <% if @recent_folders.any? %>
        <% @recent_folders.each do |folder| %>
          <li class="list-group-item">
            <%= link_to folder.name, folder_media_files_path(folder), class: 'text-decoration-none' %>
            <small class="text-muted">
              - качена на <%= folder.created_at.strftime("%d/%m/%Y") %> от <%= folder.user.email %>
            </small>
            <small class="text-primary">(<%= folder.media_files.count %> файла)</small>
            <% if @folder_sizes[folder.id] %>
              <small class="text-success"> - Размер: <%= number_to_human_size(@folder_sizes[folder.id]) %></small>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">Няма качени папки.</li>
      <% end %>
    </ul>

    <%= link_to list_folders_path, class: 'btn btn-primary mt-3 mb-2' do %>
      <i class="fa-solid fa-folder-plus"></i> Всички Папки
    <% end %>
  </div>


  <div>
    <h3>Последни качени файлове</h3>
    <ul class="list-group">
      <% if @recent_files.any? %>
        <% @recent_files.each do |media_file| %>
          <li class="list-group-item">
            <a href="<%= serve_media_file_path(file_path: "#{Rails.configuration.user_files_path}/#{media_file.folder.user.email}/#{media_file.folder.name}/#{media_file.file}") %>" target="_blank" class="text-decoration-none">
              <%= media_file.file %>
            </a>
            <% file_size = number_to_human_size(File.size("#{Rails.configuration.user_files_path}/#{media_file.folder.user.email}/#{media_file.folder.name}/#{media_file.file}")) %>
            <small class="text-muted">
              - <%= file_size %>, качен на <%= media_file.created_at.strftime("%d/%m/%Y") %> от <%= media_file.folder.user.email %>
            </small>
          </li>
        <% end %>
      <% else %>
        <li class="list-group-item">Няма качени файлове.</li>
      <% end %>
    </ul>


    <%= link_to list_files_path, class: 'btn btn-primary mt-3 mb-5' do %>
      <i class="fa-regular fa-file"></i> Всички Файлове
    <% end %>
  </div>
<% else %>
  <p>Добре дошли! За да видите каченото съдържание, моля <%= link_to 'влезте', new_user_session_path %>
    или <%= link_to 'регистрирайте се', new_user_registration_path %>.</p>
<% end %>
